    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.location }}</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
			<p><a href="mailto:info@creativecommons.org">info@creativecommons.org</a></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.legal }}</h3>
			<ul class="list-unstyled">
                            {% for whereas in site.legalese %}
                             <li><a href="{{ whereas.url }}">{{ whereas.title }}</a></li>
	                     {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

		      <a rel="license"
			 href="//creativecommons.org/licenses/by/4.0/"
			 title="Creative Commons Attribution 4.0 International license"
			 ><img src="//i.creativecommons.org/l/by/4.0/88x31.png"
			       alt="License"/></a>

                      <small>
			Except where otherwise
			<a class="subfoot" href="//creativecommons.org/policies#license">noted</a>,
			content on
			<span 
			   href="http://creativecommons.org" 
			   property="cc:attributionName" 
			   rel="cc:attributionURL">this site</span> 
			is licensed under a 
			<a rel="license" 
			   href="//creativecommons.org/licenses/by/4.0/"
			   class="subfoot">
			  Creative Commons Attribution 4.0 International license</a>.
		      </small>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
