<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img style="height: inherit; margin-top: -20px;" src="/img/cclogo.png" alt="{{ site.title }}" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            
	    <li><a href="/about">About CC</a></li>
	    <li><a href="/about/history">History</a></li>
	    <li class="divider"></li>
	    <li><a href="/who-uses-cc">Who Uses CC?</a></li>
	    <li><a href="http://wiki.creativecommons.org/Case_Studies">Case Studies</a></li>
	    <li><a href="/videos/">Videos about CC</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">The Team</li>
	    <li><a href="/board">Board of Directors</a></li>
	    <li><a href="/staff">Staff</a></li>
	    <li><a href="http://wiki.creativecommons.org/CC_Affiliate_Network">Affiliate Network</a></li>
	    <li><a href="/opportunities">Job Opportunities</a></li>
	    <li class="divider"></li>
	    <li><a href="http://wiki.creativecommons.org/FAQ">Frequently Asked Questions</a></li>
	    <li><a href="/contact">Contact Us</a></li>
	    
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Licenses <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

	    <li><a href="/licenses/">About the Licenses</a></li>
	    <li><a href="/choose/">Choose a License</a></li>
	    <li><a href="http://search.creativecommons.org">Find licensed content</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">Licensors</li>
	    <li><a href="http://wiki.creativecommons.org/Considerations_for_licensors_and_licensees#Considerations_for_licensors">Things to know before licensing</a></li>
	    <li><a href="http://wiki.creativecommons.org/FAQ#Do_I_need_to_sign_something_or_register_to_obtain_a_Creative_Commons_license.3F">Do I need to register my work?</a></li>
	    <li><a href="http://wiki.creativecommons.org/Marking_your_work_with_a_CC_license">Marking my work</a></li>
	    <li><a href="/examples">License examples</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">Licensees</li>
	    <li><a href="http://wiki.creativecommons.org/Best_practices_for_attribution">Best practices for attribution</a></li>
	    <li><a href="http://wiki.creativecommons.org/FAQ#Who_gives_permission_to_use_material_offered_under_Creative_Commons_licenses.3F">Getting permission</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">Developers</li>
	    <li><a href="http://wiki.creativecommons.org/Integrate">App Integration</a></li>
	    <li><a href="http://wiki.creativecommons.org/Developer_Challenges">Developer Challenges</a></li>
	    <li><a href="http://wiki.creativecommons.org/Translate">Translation</a></li>
	    <li class="divider"></li>
	    <li><a href="/publicdomain/">Our Public Domain Tools</a></li>	

	    <li><a href="/about/cc0">About CC0 Public Domain Dedication</a></li>
	    <li><a href="/choose/zero/">Choose CC0 Public Domain Dedication </a></li>
	    <li class="divider"></li>
	    <li><a href="/about/pdm">About Public Domain Mark</a></li>
	    <li><a href="/choose/mark/">Use Public Domain Mark</a></li>
	    
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

	    <li><a href="/culture">Culture</a></li>
	    <li><a href="/education">Education</a></li>
	    <li><a href="/publicpolicy">Public Policy</a></li>
	    <li><a href="/science">Science</a></li>
	    <li class="divider"></li>
	    <li><a href="http://open4us.org/">OPEN</a></li>
	    <li><a href="/music-communities">Music Communities</a></li>
	    <li><a href="http://openpolicynetwork.org/">Open Policy Network</a></li>
            <li><a href="/record-labels">Record Labels</a></li>
            <li><a href="http://schoolofopen.org/">School of Open</a></li>
            <li><a href="http://wiki.creativecommons.org/4.0">Versioning the license suite</a></li>
	    
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Support CC <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

	    <li><a href="https://donate.creativecommons.org/">Donate to Creative Commons</a></li>
	    <li><a href="http://store.creativecommons.org/">Buy CC Merchandise</a></li>
	    <li><a href="/supporters">Our Supporters</a></li>
	    <li><a href="https://creativecommons.net/testimonials/">Testimonials</a></li>

	    <li><a href="/weblog">Blog</a></li>
	    <li><a href="http://planet.creativecommons.org/">Affiliate News</a></li>
	    <li class="divider"></li>
	    <li><a href="/interviews">Interviews</a></li>
	    <li><a href="http://wiki.creativecommons.org/Events">Events</a></li>
	    <li><a href="/newsletter">Newsletters</a></li>
	    <li class="divider"></li>
	    <li><a href="/about/press">Press Room</a></li>
	    
	    
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>

      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

