        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills">Search the Commons</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills">License your work</span>
                    </div>
                </div>
            </div>
        </div>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
`
